/* Global Styles */
* {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
/* nav styles */
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.G {
  color: #ff42a5;
  font-weight: bold;
}
.logo-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 32px;
  align-items: center;
  color: #3c354f;
}
.follow-us {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  gap: 19px;
  padding: 13px 18px;
  align-items: center;
  transition: transform 0.3s ease;
}
.follow-us:hover {
  transform: scale(1.1);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 40px;
}
/* header styles */
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container img {
  margin-bottom: -4px;
  margin-right: 230px;
}
.header-title {
  margin-top: 148px;
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.header-title-1 {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.header-substance {
  margin-left: 230px;
}
.header-content {
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: 800px 900px;
  width: 901px;
  height: 700px;
}
.header-content li {
  margin-top: 24px;
  gap: 10px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
.header-content li svg {
  margin-bottom: -6px;
}
.btn-1,
.btn-2 {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  padding: 21px 40px;
  border: 1px solid transparent;
  border-radius: 48px;
}

.btn-1 {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  transition: all 0.5s ease;
}

.btn-2 {
  margin-left: calc(25px - 1px);
  background: #4ec5f7;
  transition: all 0.5s ease;
}

.btn-1:hover {
  border-color: #ff42a5;
  background: transparent;
  color: #ff42a5;
}
.btn-2:hover {
  border-color: #4ec5f7;
  background: transparent;
  color: #4ec5f7;
}
/* subheader styles */
.subheader {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.subheader-container {
  display: flex;
  align-items: center;
  text-align: right;
  margin: 0px 240px;
}
.subheader-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subheader-description {
  margin-top: 10px;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}

.subheader-quote {
  color: #534c64;
  font-size: 32px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

.subheader-quote-1 {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}
.subheader-img {
  max-width: 100%;
  height: auto;
}
.hide {
  display: none;
}
/* Online Games styles */
.games-content {
  display: flex;
  justify-content: space-around;
  margin: 0px 240px;
  gap: 24px;
}
.games-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.games-title-2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.titles-of-games {
  text-align: center;
  margin: 40px;
}
.broken-img {
  border-radius: 16px;
  width: 300px;
  height: 438px;
}
.games-box img {
  margin-bottom: 10px;
}
.games-box p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
/* the play now effect */
.games-box {
  position: relative;

  border-radius: 16px;
}
.games-box img {
  height: 100%;
  width: 100%;
}
.overlay {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background: black;
  cursor: pointer;
  border: 2px #f948b2 solid;
}
.overly-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.overly-content img {
  width: 45px;
}
.overly-content h3 {
  font-size: 20px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-box:hover .overlay {
  opacity: 0.8;
}
/* main section */
.main-container {
  display: flex;
  margin-top: 120px;
  justify-content: space-around;
  text-align: right;
  align-items: center;
}
.main-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.main-title-2 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small-image {
  position: absolute;
  top: 2450px;
  left: 900px;
}
.main-images {
  display: flex;
}
.main-container-2 {
  display: flex;
  margin-top: 120px;
  justify-content: space-around;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
}
.small-image-2 {
  position: absolute;
  top: 3310px;
  right: 900px;
}
/* game category styles */
.game-category-container {
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 100px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 260px;
  height: 75px;
  background-color: rgb(255, 248, 248);
  gap: 60px;
  padding: 0px 10px;
  border: 1px solid transparent;
  transition: all 0.6s ease-in-out;
}
.game-category-container {
  display: flex;
  justify-content: space-around;
}
.category-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.category h3 {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}
.category:hover {
  border: 1px solid #ff42a5;
  transform: scale(1.1);
}
.category:hover h3 {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* footer styles */
footer {
  background: #0b0223;
  margin-top: 50px;
}
.footer-logo {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.footer-title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 100px;
}
.footer-content li {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  list-style: none;
}
.footer-social {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.footer-social img {
  transform: scale(1);
  transition: all .7s ease-out;
}
.footer-social img:hover {
  transform: scale(1.3);
}
.footer-social img {
  height: 40px;
}
.footer-policy li {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
.footer-policy {
  margin-top: 60px;
  gap: 60px;
  display: flex;
  justify-content: center;
}
.footer-description{
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 40px;
}
